

.callout.large.primary.hp-top
  =render '/shared/header'

  .row.newsletter-hp
    .medium-1.columns
      %p
    .medium-4.columns
      %p


      %form{method:"post", action:"/newsletter/signup", id:"newsletter_form"}
        %div.main-entry.text-center{style:"min-height:120px;width:350px;background-color: rgba(0,0,0,0.5);color: #fff;padding:5px;padding-top:5px;"}

          -if params["notice"].present?
            .green
              =params["notice"]
              %br
          -elsif params["alert"].present?
            .red
              =params["alert"]
              %br
          =@hp.newsletter

          %input.email_enter{placeholder:"Enter Email",style:"width:100%;border: 1px solid #ccc;line-height: 30px;margin-top: 5px;margin-bottom:5px;background-color:transparent;", name:"email"}

          %input.email_enter{placeholder:"Full Name",style:"width:100%;border: 1px solid #ccc;line-height: 30px;margin-top: 5px;margin-bottom:5px;background-color:transparent;", name:"name"}

          .hide.captcha{style:"margin-left:20px;"}
            =recaptcha_tags
          %br

          .fa.fa-envelope.fa-4{style:"font-size:2rem;"}
    .medium-6.columns


.row.three-pillars
  .small-12.medium-12.large-10.medium-centered.large-centered.columns
    .medium-4.columns.text-center

      %a{:href => "/donate-equipment", style:"color: #000;"}
        =image_tag("#{@hp.donate.url}", :style=>"box-shadow:0px 0px;")
        -# %i.fa.fa-stethoscope.fa-2{style:"font-size:10rem;"}

    .medium-4.columns.text-center

      %a{:href => "/world-map", style: "color: #000;"}

        =image_tag("#{@hp.distribute.url}", :style=>"box-shadow:0px 0px;height:200px;")
        -# %i.fa.fa-plane{style:"font-size:10rem;"}


    .medium-4.columns.text-center
      %a{:href => "/assets/ImpactStatement2014-1.pdf", style: "color: #000;", target:"_blank"}

        =image_tag("#{@hp.heal.url}", style:'height:130px;box-shadow:0px 0px;')



.row
  .small-12.medium-12.large-10.medium-centered.large-centered.columns
    .medium-4.columns.text-center
      -# %p Project V.E.T.S. is seeking your donations! We need veterinary/medical equipment and supplies, new or used, in good-to-excellent working condition. For those supplies that carry an expiration date, please contact us prior to shipping to see if we can accept them.
      %p=@hp.donate_text
      %a{:href => "/donate-equipment"}
        Learn more
    .medium-4.columns.text-center
      -# %p We are an organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) which we then donate to veterinarians worldwide working in animal related non-profits.
      %p=@hp.distribute_text
      %a{:href => "/world-map"}
        Learn more
    .medium-4.columns.text-center
      -# %p We are an organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) which we then donate to veterinarians worldwide working in animal related non-profits.
      %p=@hp.heal_text
      %a{:href => "/assets/ImpactStatement2014-1.pdf", target:"_blank"}
        Learn more


.row


  .small-12.medium-10.large-10.medium-centered.large-centered.columns{style:"text-align:center;font-weight:500;font-size:20px;"}
    %p=@hp.pv_overview


.row.fullWidth
  .medium-6.columns
    .row
      .medium-2.columns
        %p
      .medium-8.columns
        .row.fullWidth
          -@hp.hp_slideshow.each do |img|
            .medium-6.columns{style:"height: 200px;"}
              =image_tag("#{img.url}", style: "width: 200px; ")
        -# .fade
        -# %div
        -#   =image_tag("spo0", style:"width:100%;margin-top:15%;")
        -# %div
        -#   =image_tag("GNP2016", style:"width:80%;margin-top:10%;")
        -# %div
        -#   =image_tag("outdoor-safety", style:"width:100%;margin-top:10%;")
        -# %div
        -#   =image_tag("capna", style:"width:90%;margin-top:1%;")
          -# %div
          -#   =image_tag("zoetis", style:"width:80%;margin-top:15%;")
        -# - r = Random.rand(5)
        -# -if r==3
        -#   -r=1
        -#
        -# =image_tag("spo#{r}", style:"width:100%;margin-top:15%;")



      .medium-2.columns
        %p
    .row
      .medium-8.columns

      .medium-4.columns.shim-top.large

  .medium-6.columns.doggy-side
    .medium-12.columns.medium-centered
      %h4
        =@hp.slideshow_text

    .medium-10.columns.medium-centered
      %p
        For more information about the Project V.E.T.S. Strategic Partner program,


        =raw(@hp.slideshow_sm)
      -# .button.clear
      -#   Learn more about us

.row.fullWidth.no-margin

  .medium-12.columns.text-center.bottom-hp{style:"background-image:url(#{@hp.bottom_learn_img.url})"}
    .small-12.medium-12.large-12.medium-centered.large-centered.columns{style:"color:#fff;padding-top:50px;"}


      .medium-12.columns.medium-centered
        %h3.road-text{style:"font-weight:400;"}
          =@hp.bottom_learn
        .button.large{:onclick=>"document.location='/by-name';", :style=>"border-radius:3px 3px 3px 3px;"}
          Learn More




:javascript
  (function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  	fjs.parentNode.insertBefore(js, fjs);
  	}(document, 'script', 'facebook-jssdk'));

=render '/shared/footer'
