#content.row
  .medium-12
    .top-image{style:"background-image:url(http://vinelist.com/assets/cow2.jpg);height:400px;width:100%;background-size: cover;"}

.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;margin-top:-20px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        By Name
      -pasa_count = 0
      - @final.each do |name|
        -curr_name = name.split(',')[0]
        -curr_link = name.split(',')[1]

        -if(pasa_count>0 && pasa_count<=21)

          -pasa_count= pasa_count+1
          =raw "<a style='margin-left:30px;' href='#{curr_link}' target='_blan'>#{curr_name}</a>"
          %br

        -elsif(curr_name=="PASA"&& pasa_count==0)
          -pasa_count= pasa_count+1
          =raw "<a style='margin-left:0px;' href='#{curr_link}' target='_blan'>#{curr_name}</a>"
          %br

        -else
          =raw "<a style='margin-left:0px;' href='#{curr_link}' target='_blan'>#{curr_name}</a>"
          %br

  -#
  -#     %p
  -#       Project V.E.T.S. invites you to get to know our Recipient Organizations a little better. Want to know even more about a particular organization? Just click on their name to be directed to their website!
  -#     %p
  -#       African Network for Animal Welfare (ANAW)<br>
  -#       Amici Cannis<br>
  -#       Animal Balance<br>
  -#       Animal-Kind International<br>
  -#       -# Helping Hands for Hounds of Honduras<br>
  -#       -# Mbwa wa Afrika<br>
  -#       -# Namibia Rural SPCAs<br>
  -#       -# Save the Animals-Armenia<br>
  -#       -# Stray Dogs Bosnia<br>
  -#       -# Uganda SPCA<br>
  -#       -# Zimbabwe National SPCA<br>
  -#       Animal Welfare & Anti Harassment Society (AWAAHS)<br>
  -#       ARCAS<br>
  -#       -# Asociacion Protectora Ecija de Animales (APRENDA)<br>
  -#       Asociatia Sava's Safe Haven<br>
  -#       AWARE Trust<br>
  -#       Badmash Peepal (formerly Worldly Wags)<br>
  -#       Belize Wildlife and Referral Clinic<br>
  -#       Big Fix Uganda, The<br>
  -#       Casa de Orientacion y Desarollo Real (CODR)/People and Animal Welfare
  -#       (PAW)<br>
  -#       Caye Caulker Humane Society<br>
  -#       Chimpanzee Sanctuary Northwest<br>
  -#       Compassion Unlimited Plus Action (CUPA)<br>
  -#       Dharamsala Animal Rescue<br>
  -#       Evelyn Alexander Wildlife Rescue Center<br>
  -#       Fort Collins Cat Rescue & Spay/Neuter Clinic<br>
  -#       Friends of Mexican Animal Welfare (FOMAW)<br>
  -#       -# Fundacion Animales en Peligro Inc.<br>
  -#       Fundacja Ostatnia Szansa<br>
  -#       Global Alliance for Animals and People, The (GAAP)<br>
  -#       Gorilla Doctors (previously Mountain Gorilla Veterinary Project)<br>
  -#       Grand Strand Humane Society<br>
  -#       Greenwood Wildlife Rehabilitation Center<br>
  -#       Hawaii Animal Rescue Foundation<br>
  -#       Health Outreach for Latin America Foundation, The (HOLA)<br>
  -#       Helping Paws Across Borders (HPAB)<br>
  -#       -# Humane Society of Concord & Greater Cabarrus County<br>
  -#       Humanitarian Efforts Reaching Out (HERO)<br>
  -#       Kathmandu Animal Treatment Centre<br>
  -#       Kitten Krazy<br>
  -#       Lakeside Spay and Neuter<br>
  -#       Lion's Gate Sanctuary<br>
  -#       Mazie’s Mission<br>
  -#       National Mill Dog Rescue<br>
  -#       Native America Humane Society<br>
  -#       Ngamba Island Chimpanzee Sanctuary and Wildlife Conservation Trust (a PASA
  -#       organization)<br>
  -#       Nuummi Uumasut (The Animals of Nuuk)<br>
  -#       -# Orangutan Foundation International<br>
  -#       Pandas International<br>
  -#       PASA<br>
  -#       -# Ape Action Africa<br>
  -#       Centre de Conservation pour Chimpanzees (CCC)<br>
  -#       CERCOPAN<br>
  -#       Chimfunshi Wildlife Orphanage<br>
  -#       Chimpanzee Rehabilitation Project<br>
  -#       Colobus Conservation<br>
  -#       HELP-Congo<br>
  -#       Jane Goodall Institute Chimpanzee Eden<br>
  -#       Jeunes Animaux Confisques au Katanga (J.A.C.K.)<br>
  -#       Lilongwe Wildlife Trust<br>
  -#       Limbe Wildlife Center<br>
  -#       Lola ya Bonobo & ABC<br>
  -#       Lwiro Primate Rehabilitation Centre<br>
  -#       Pandrillus<br>
  -#       Projet Protection des Gorilles-Congo and Gabon<br>
  -#       Projet Gorille Fernan-Vaz<br>
  -#       Sanaga-Yong Chimpanzee Rescue Center<br>
  -#       Sweetwaters Chimpanzee Sanctuary<br>
  -#       Tacugama Chimpanzee Sanctuary<br>
  -#       Tchimpounga Chimpanzee Rehabilitation Centre<br>
  -#       -# Vervet Monkey Foundation<br>
  -#       People For Animals-Faridabad<br>
  -#       Project Chimps<br>
  -#       -# Romania Animal Rescue<br>
  -#       Saint Seton's Orphaned Animals<br>
  -#       Sayvet<br>
  -#       Second Chance Animal Rescue<br>
  -#       Snooccars Wildlife Center<br>
  -#       Soi Dog Foundation<br>
  -#       Soul Dog<br>
  -#       Students for International Veterinary Opportunities (SIVO)<br>
  -#       Tanzania Animal Welfare Society (TAWESO)<br>
  -#       Tsunami Animal-People Alliance (TAPA)<br>
  -#       -# Veterinarians Without Borders US<br>
  -#       Victoria Falls Wildlife Trust (formerly WHWT)<br>
  -#       ViDAS<br>
  -#       Visakha Society for the Prevention of Cruelty to Animals (VSPCA)<br>
  -#       Watermelon Mountain Ranch Animal Shelter<br>
  -#       Wild Once More Rehabilitation Center<br>
  -#       Wildlife SOS<br>
  -#       Wildcat Sanctuary, The<br>
  -#
  -#
  -# -# .medium-3.columns.hide-for-small-only{"data-sticky-container" => ""}
  -# -#   .sticky{"data-anchor" => "content", "data-sticky" => ""}
  -# -#     %ul.accordion{"data-accordion" => "", "data-multi-expand"=>"true"}
  -# -#       %li.accordion-item.is-active
  -# -#         / The tab title needs role="tab", an href, a unique ID, and aria-controls.
  -# -#         %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} How You Can Help
  -# -#         / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
  -# -#         #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
  -# -#           %ul.accord
  -# -#             %li
  -# -#               %a{:href => "/"}
  -# -#                 Monetary Donations
  -# -#             %li
  -# -#               %a{:href => "/"}
  -# -#                 Donate Equipment, Tech, or supplies
  -# -#             %li
  -# -#               %a{:href => "/"}
  -# -#                 Celebrations & memorials
  -# -#             %li
  -# -#               %a{:href => "/"}
  -# -#                 Volunteer
  -# -#             %li
  -# -#               %a{:href => "/"}
  -# -#                 Shop
  -#
  -#       -# %li.accordion-item
  -#       -#   / The tab title needs role="tab", an href, a unique ID, and aria-controls.
  -#       -#   %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} Sign up for our e-newsletter
  -#       -#   / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
  -#       -#   #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
  -#       -#     %form
  -#       -#       %input{:placeholder=>"Name"}
  -#       -#       %br
  -#       -#       %input{:placeholder=>"Email"}
  -#       -#       %br
  -#       -#       %a.btn.btn-default{:href => "#", :role => "button"} Submit
  -#
  -#
  -#
  -#
  -#
  -#
  -#
=render '/shared/footer'
